*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-monospace;
    font-style: oblique;

}
body{
    width: 100vw;
    height: 100vh;

}

.Container{
    width: 100%;
    height: 100%;
     border: 2px solid red;
     display: flex;
     flex-direction: column;
}
.appName{
    display: flex;
    justify-content: space-between;
}
.header{
    border: 1px solid blue;
    height: 55px;
    margin: 5px 7px 0 7px;
    padding: 6px;
}
.imgSlider{
    width: 100%;
    height: 550px;
    border: 1px solid black;
}
.img-Container{
    
    width: 100%;
    height: auto;
    border: 1px solid #139d43;
    display: flex;
    flex-wrap: wrap
}
.imgRow .imgSlides{
    width: 200px;
    height: 200px;
    padding: 5px;
}
    /* width */
 .img-Container-wrapper {
    overflow: auto;
 }
 
 ::-webkit-scrollbar {
  width: 8px;
}


 /*Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
 /*Handle*/
::-webkit-scrollbar-thumb {
  background: #00ffee;
  border-radius: 18px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0 0 0 / 68%); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
.modal-content{
    position: relative;
    height: 60%;
    width: 60%;
    background-color: white;
}
.reelDimension{
    width: 100%;
    height: 100%;
}
#reel{
    height: 100%;
}
.close{
    height: 10px;
    width: 10px;
    top: 10px;
    right: 25px;
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    
}
.action{
    position: absolute;
    top: 47%;
    font-size: 45px;
    width: 40px;
    background-color: #f0f8ff45;
    cursor: pointer;
    
}
.action:hover{
    border: 2px solid black; 
    border-radius: 43px;
    background-color:#00000040;
}
.next {
    right: 0
}





